.container {
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}

.image {
    /* background-position: center; */
    /* vertical-align: middle; */

}

.text {
    color: #fff!important;
    padding: 10px 20px;
    background: orange;
    /* margin-top:-50px; */
    margin: 20px 0;
    /* display: inline-block;
    text-align: center; */
}